/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ===== BODY ===== */
body {
  background: #000;
  height: 100vh;
  overflow: hidden;
}

/* ===== PARTICLES ===== */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

/* ===== LOGIN / SIGNUP BOX ===== */
.container {
  background: rgba(20, 20, 20, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 35px rgba(255, 215, 0, 0.9);
  width: 350px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

h2 {
  margin-bottom: 25px;
  color: #FFD700;
  text-shadow: 0 0 15px #FFD700;
}

input, select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1.5px solid #FFD700;
  border-radius: 6px;
  background: black;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

input:focus, select:focus {
  box-shadow: 0 0 12px #FFD700;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: 1.5px solid #FFD700;
  border-radius: 25px;
  background: transparent;
  color: #FFD700;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #FFD700;
  color: #121212;
  box-shadow: 0 0 20px #FFD700;
  transform: scale(1.05);
}

.toggle, .extra-options {
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}

.toggle a, .extra-options a {
  color: #FFD700;
  text-decoration: none;
}

.toggle a:hover, .extra-options a:hover {
  text-decoration: underline;
}


/* PDF BUTTON */
.pdf-btn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #000;
  color: #FFD700;
  border: 1px solid #FFD700;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

.pdf-btn:hover {
  background: #FFD700;
  color: #000;
}
